
body {
    background-image: url("./travel-background.avif");

}

.travel-logo {
    width: 60px;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.form-container {
    background-color: white;
    border-radius: 10px;
    height:425px;
    padding: 10px;
    margin: 20px 10px;
    width: 350px;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card {
    height: 300px;
    width: 18rem;
    padding: 3px;
    position: relative;
}

.card-element {
    text-align: center;
}

.card-img-top {
    height: 150px;
    opacity: 0.5;
}

.date-stamp {
    border: darkred dashed 3px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.date-stamp-date {
    color: darkred;
    font-weight: bold;
}

.btn-sm {
    margin: 5px;
}

.date-stamp {
    position: absolute;
}