
body {
    position: relative;
    background-image: url("./travel-background.jpg");
    background-attachment: fixed;
    font-family: 'Special Elite', cursive;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.travel-logo {
    width: 60px;
}

.main-container {
    position: relative;
    display: flex;
    flex-direction: row;
}

.form-container {
    position: fixed;
    display: flex;
    background-color: #fdf7e6;
    border-radius: 10px;
    height:650px;
    padding: 10px;
    margin: 115px 0 0 20px;
    width: 350px;
}

.log-para {
    background-color: #fdf7e6;
    display: none;
    word-wrap:break-word;
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 97%;
    height: 100%;
    text-align: justify;
    padding: 8px;
}

.edit-mode {
    border: red dashed 3px;
}

.card-container {
    margin-top: 100px;
    margin-left: 380px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.card {
    background-image: url("./passport-background.jpg");
    background-size: cover;
    height: 300px;
    width: 18rem;
    padding: 3px;
    position: relative;
}

.card-element {
    text-align: center;
}

.card-img-top {
    height: 150px;
    opacity: 0.5;
    object-fit: cover;
}

.date-stamp {
    border: darkred dashed 3px;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}

.date-stamp-date {
    color: darkred;
    font-weight: bold;
    margin: 2px 2px 0 2px;

}

.btn-sm {
    margin: 5px;
}

.date-stamp {
    position: absolute;
}